
.formulario {
    text-align: center;
    padding-top: 50px;

&_titulo {
    text-align: center;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 15px;
}
}
.provincia {
    color: white;
}