.promo {
    margin:0 auto;
&promo_titulo {
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
}
.promono {
    @extend .promo10;
    font-size: smaller;
}
.promos {
    text-align: center;
    padding-top: 50px;
    padding: 25px;
}
.promoss {
    text-align: center;
    padding: 25px;
}
@mixin promo10 {
    color: white;
    text-align: center;
}
.listabca {
    @include promo10()
}